@use "base" as *;

footer {
  padding-block: $spacing-800;
  padding-inline: $spacing-300;
  background-color: $black;

  .wrapper {
    display: grid;
    gap: $spacing-500;

    @media (min-width: 48rem) {
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
    }

    .footer__nav {
    display: grid;
    gap: clamp(1.5rem, calc(3.454rem - 4.071vw), 2.5rem);

      .footer__logo {
      max-width: 144px;
      margin: 0 auto;

        @media (min-width: 48rem) {
          margin-inline: 0;
        }
      }

      .secondary-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-200;

        @media (min-width: 48rem) {
          flex-direction: row;
        }

        .nav__link {
          font-family: "Alata", sans-serif;
          font-size: $font-size-6;
          line-height: 1.65;
          color: $white;

          &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 24px;
            height: 2px;
            background-color: $white;
            transform: scaleX(0);
            transition: transform 250ms ease;
          }

          @media (min-width: 48rem) {
            line-height: 1.65;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-100;

            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    .footer__socials {
      .footer__socials__icons {
        margin-block-end: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
        display: flex;
        justify-content: center;
        gap: $spacing-200;

        @media (min-width: 48rem) {
          justify-content: flex-end;
        }
      }

      .footer-copyright {
        font-family: "Alata", sans-serif;
        font-size: $font-size-6;
        text-align: center;
        color: $white;
        opacity: 0.5;

        @media (min-width: 48rem) {
          text-align: right;
        }
      }
    }
  }
}