@use "base" as *;

.header {
  height: 650px;
  padding-block-start: $spacing-500;
  padding-inline: $spacing-300;
  background-image: url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .nav-top {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }

  .logo {
    width: clamp(9rem, calc(6.137rem + 12.214vw), 12rem);
    z-index: 5;
  }

  .hamburger {
    z-index: 5;
  }

  .primary-nav {
    position: absolute;
    padding-block-start: 200px;
    padding-inline: $spacing-300;
    inset: 0 0 0 100%;
    background-color: $black;
    transition: all 500ms ease;
    opacity: 0;

    &.showNav {
      inset: 0;
      opacity: 1;
    }

    li {
      margin-block-end: $spacing-300;

      .nav__link {
        color: $white;
        font-size: $font-size-5;
        font-weight: $font-weigh-300;
      }
    }
  }
}