@use "base" as *;

main {
  padding-block: $spacing-1000;
  padding-inline: $spacing-300;
}

.intro {
  margin-block-end: $spacing-1000;
  text-align: center;

  .intro__image {
    max-width: fit-content;
    margin: 0 auto;
  }

  .intro__text h1 {
    margin-block-end: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
    padding-block-start: $spacing-600;
    font-size: clamp(2.00rem, calc(1.046rem + 4.071vw), 3.00rem);
    color: $black;
    font-weight: $font-weight-300;
    text-transform: uppercase;
    text-wrap: balance;
  }

  .intro__text p {
    font-family: "Alata", sans-serif;
    color: $black;
    opacity: 0.5;
    text-wrap: balance;
  }
}

.creations {

  .creations__link {
    display: inline-block;
    padding-block: $spacing-200;
    padding-inline: $spacing-400;
    color: $black;
    border: 1px solid $black;
    font-size: $font-size-7;
    font-weight: $font-weight-400;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: all 250ms ease;

    &:hover {
      color: $white;
      background-color: $black;
    }
  }

  .creations__header {
    margin-block-end: clamp(2rem, calc(3.954rem - 4.071vw), 3rem);

    h2 {
      font-size: clamp(2.00rem, calc(1.046rem + 4.071vw), 3.00rem);
      font-weight: $font-weight-300;
      text-transform: uppercase;
      color: $black;
      text-align: center;
    }

    .creations__link {
      display: none;
    }
  }

  .creations__items_container {
    display: grid;
    gap: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);

    @media (min-width: 48rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 60rem) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 72rem) {
      grid-template-columns: repeat(4, 1fr);
    }

    .creations__item {
      margin: 0 auto;
    }

    .creations__item__inner {
      position: relative;
      height: 115px;
      overflow: hidden;

      @media (min-width: 48rem) {
        width: 100%;
        height: auto;
      }

      .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, hsl(0, 0%, 0%, 0.6), hsl(0, 0%, 0%, 0));
        // opacity: 0;
        transition: all 250ms ease;
      }

      h3 {
        position: absolute;
        left: 5%;
        bottom: 10%;
        color: $white;
        font-size: $font-size-5;
        font-weight: $font-weight-300;
        text-transform: uppercase;
        z-index: 5;

        @media (min-width: 48rem) {
          left: 15%;
          bottom: 7.5%;
          font-size: $font-size-4;
        }
      }

      &:hover {
        h3 {
          color: $black;
        }

        .overlay {
          background: $grey;
          opacity: 0.7;
        }
      }
    }
  }

  .creations__footer {
     margin-block-start: $spacing-400;
     text-align: center;

     @media (min-width: 48rem) {
      display: none;
     }
  }
}