@use "base" as *;
@use "header";
@use "main";
@use "footer";


.wrapper {
    max-width: 38rem;
    margin: 0 auto;

    @media (min-width: 48rem) {
      max-width: 69.375rem;
    }
  }

  .nav__link::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: $white;
    transform: scaleX(0);
    transition: transform 250ms ease;
  }